---
import Layout from '@/layouts/Layout.astro'

---


<Layout>
  <div class="marco">
    <main class="main"><a target="_blank" href="/Plan de Movilidad.pdf">PDF</a></main>
  </div>
</Layout>

<style>
  .marco{
    position: absolute;
    z-index: 99;
    width: 111px;
    height: 111px;
    background-color: red;
  }
  .main{
    position: relative;
    background-color: orange;
  }
</style>

