---
import Layout from '../layouts/Layout.astro'
import Video from '@/components/Video.astro'
---

<Layout title='Auxiliar Manipuladora del Cartón relative'>
	<div class='colorDos rounded-lg bg-zinc-900 h-full'>
		<Video
			autoplay={true}
			id='cajas'
			src='/videos/cajas-en-movimiento.mp4'
		/>
	</div>
</Layout>
